* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

header {
  background: #B9375D;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  background-color: #000000;
  padding: 20px;
  margin: auto;
}

.male {
    text-align: center;
    padding: 1rem 2rem;
    background: linear-gradient( to right,#D25D5D, #E7D3D3);
    color: #000;
}

.male-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.tagline {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.about {
    padding: 2rem;
    background-color: #f4f4f4;
}

.about-content {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.about-img {
    width: 300px;
    border-radius: 50%;
}
.projects {
   padding:2rem;
   background: #9ECAD6;
}

.projects-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.projects-card {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.3s;
    box-shadow: 10px 2px 4px rgba(0,0,0,0.1);
}

.projects-card:hover {
    transform: translateY(-5px);
}

.details {
    padding: 2rem;
    background-color: #d4e5f7;
    text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: auto;
}

input,textarea {
  padding: 20px;
  border: 10px;
  border-radius: 15px;
}

button {
  padding: 10px 20px;
  background-color: #B9375D;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 20px;
}

button:hover {
  background-color: #A02D4F;
}

footer {
  background-color: #363636;
  color: white;
  text-align: center;
  padding: 20px;
}